*.o
*.map
*.elf
*.ELF
*.bin
*.sys
*.SYS
*.sys_debug
*.SYS_debug
*.dat
*.lib
*.a
*.vdi
*.efi
*.EFI
*.dll
*.debug
*.obj
*.i
*.iii
*.lst
*.pyc
/tools
!/tools
/tools/*
!/tools/src
!/tools/python
!/tools/Trim
!/tools/Trim.bat
!/tools/bios32.bin
